body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
}

.headerlogo {
    color: #F9FAF8;
    font-size: 24px;
}

.headertext, .herotext {
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px 0;
}

ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.about {
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
    align-items: center;
    padding: 80px 180px;

}

.left-about {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.awesome {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
}

.action {
    background-color: #3882F6;
    color:#F9FAF8;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    width: 100px;
    padding: 8px;
}

.info {
    height: 450px;
}

.information-header {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.tidbit {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 150px;
}

.card {
    height: 150px;
    width: 150px;
    border: solid #3882F6;
    border-radius: 10px;
}

.quote-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 70px;
}

blockquote > p {
    font-size: 36px;
    font-style: italic;
    width: 900px;
}

cite {
    display: flex;
    flex-direction: row-reverse;
    font-size: 30px;
    font-weight: bold;
}

.action-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.time4action {
    background-color: #3882F6;
    width: 700px;
    border-radius: 5px;
}

.signuparea {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.text-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.signuparea-bigtext, .signuparea-smalltext {
    color: #F9FAF8;
}

.signuparea-bigtext {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0;
}

.signuparea-smalltext {
    margin-top: 2px;
}

.signuparea-button {
    width: 100px;
    height: 25px;
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    border-radius: 5px;
    color: #F9FAF8;
    font-weight: bold;
    margin-right: 40px;
}