body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
}

.headerlogo {
    color: #F9FAF8;
    font-size: 24px;
}

.headertext, .herotext {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.about {
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
    align-items: center;
    padding: 80px 180px;
}

.left-about {
    display: flex;
    flex-direction: column;
}

.awesome {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.action {
    background-color: #3882F6;
    color:#F9FAF8;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    width: 100px;
    padding: 8px;
}