body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
}

.headerlogo {
    color: #F9FAF8;
    font-size: 24px;
}

.headertext, .herotext {
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px 0;
}

ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.about {
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
    align-items: center;
    padding: 80px 180px;
}

.left-about {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.awesome {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
}

.action {
    background-color: #3882F6;
    color:#F9FAF8;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    width: 100px;
    padding: 8px;
}

.info {
    
}

.information-header {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.tidbit {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 150px;
}

.card {
    height: 150px;
    width: 150px;
    border: solid #3882F6;
    border-radius: 10px;
}